.contactListContainer {
  margin: 0 auto;
}
.contactList {
  width: 330px;
  margin-top: 15px;
}
.contact {
  font-weight: 500;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactItem {
  width: 120px;
}
.deletButton {
  margin-left: 40px;
}
